
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather');


html {
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Merriweather', serif;
  --mono-font:       monospace;
  --body-font:       'Merriweather', serif;
  --navbar-font:     sans-serif;  /* websites + blogs only */
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

