.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #1F1C0F;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #1F1C0F;
  text-shadow: none;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #FAFAFA;
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.remark-slide-content {
  font-size: 28px;
}

b, strong { 
  color: #990000;
}

em, i {
  color: #990000;
}